@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ASAP, sans-serif;
}

body{
    background-color: white;
    height: 100%;
}

header{
    background-color: rgb(80, 72, 72);
    padding: 20px;
}

header > h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

/* Tetris board */

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%; 
}

.game-board{
    border: 3px solid white;
    border-radius: 3px;
    height: 100%;
    margin: 10px;
    color: white;
    grid-column: 1;
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1 fr 5fr;
    background-color: rgb(80, 72, 72);
    border: 3px solid black;
    border-radius: 3px;
}

#clock{
    margin: 20px auto;
    padding: 20px 20px;
    font-size: 80px;
    width: 300px;
    grid-column: 2;
    grid-row: 1;
}

.display{
    height: 150px;
    width: 150px;
    background-color: white;
    border: 3px solid black;
    border-radius: 3px;
    margin: 10px;
}

#hold-piece{
    grid-row: 2;
    grid-column: 1;
}

#next-piece{
    grid-row: 2;
    grid-column: 3;
}

#line-destroyed{
    grid-row: 3;
    grid-column: 3;
}

.label{
    text-align: center;
    margin: 20px auto;
    color: black;
    font-size: 20px;
    align-self: end;
}

#hold-piece-label{
    grid-row: 2;
    grid-column: 1;
}

#next-piece-label{
    grid-row: 2;
    grid-column: 3;   
}

#line-destroyed-label{
    grid-row: 3;
    grid-column: 3;   
}

/* Description */

.desc-board{
    border-radius: 5px;
    margin: 10px;
    height: 100%;
}

.navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 50px;
    text-align:center;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar ul li {
    float: left;
    font-size: 20px;
    display: block;
    padding: 14px 20px;
    border: 2px solid black;
    border-collapse: separate;
    margin-right: -2px;
    background-color: white;
}

#body{
    border: 2px solid black;
    font-size: 20px;
    margin-top: 4px;
    background-color: white;
    padding: 3px;
}

.text{
    opacity: 0;
}